.profile__name {
font-style: normal;
font-weight: 500;
font-size: 42px;
line-height: 48px;
margin: 0;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
max-width: 336px;
}

@media screen and (min-width:541px) and (max-width:720px) {
    .profile__name {
        font-size: 32px;
        line-height: 36px;
        max-width: 160px;
    }
}

@media screen and (max-width:540px) {
    .profile__name{
        font-size: 27px;
        line-height: 33px;
        margin: 0 auto 0;
        max-width: 254px;
    }
}