.popup__form-heading {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    padding: 34px 36px 44px;
    margin: 0;
}

@media screen and (max-width:540px) {
    .popup__form-heading {
    font-size: 18px;
    line-height: 22px;
    padding: 25px 22px 75px;
    }
}