.profile__name-container {
    display: flex;
    flex-direction: row;
    column-gap: 18px;
    align-items: baseline;
}

@media screen and (max-width:540px) {
    .profile__name-container{
        margin-left: 28px;
        column-gap: 10px; 
    }  
}