.form__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding:0 0 10px;
    margin: 0;
    }

.form__input::-webkit-input-placeholder {
    color: #C4C4C4;
}
.form__input::-moz-placeholder-color{
    color: #C4C4C4;
}
.form__input:-moz-placeholder-color{
    color: #C4C4C4;
}
.form__input:-ms-input-placeholder-color{
    color: #C4C4C4;
}