.popup__close-button{
    position:absolute;
    width: 32px;
    height: 32px;
    top: -40px;
    right: -40px;
    border: none;
    background-color: unset;
    cursor: pointer;
    background-image: url(../../../images/Close\ Icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.popup__close-button:hover {
    opacity: .6;
}

@media screen and (max-width: 540px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        right: 0;
        top: -36px;
    }
}