.element__like-button {
    width: 22px;
    height: 19px;
    background-image: url(../../../images/like.svg);
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    background-color: white;
    padding: 0;
}

.element__like-button:hover {
    opacity: .5;
    cursor: pointer;
}