.popup__form-container {
    position: relative;
    max-width: 430px;
    min-height: 330px;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

@media screen and (max-width: 540px) {
    .popup__form-container {
        max-width: 282px;
        min-height: 322px;
    }
}