.popup__form-container {
    position: absolute;
    width: 430px;
    min-height: 330px;
    top: 195px; 
    left: 0; 
    right: 0;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

@media screen and (max-width: 540px) {
    .popup__form-container {
        width: 282px;
        min-height: 322px;
        top: 123px;
        bottom: auto;
    }
}