.popup__form-input-container {
    width: 358px;
    padding: 0 36px 37px;
    border: none;
}

@media screen and (max-width:540px) {
    .popup__form-input-container {
        width: 238px;
        padding: 0 22px 25px;
    }    
}